.root {
  width: 100%;
  overflow-x: auto;
}

.table {
  width: 100%;
  margin: 0 auto;
  display: table;
  border-spacing: 0;
  border-collapse: collapse;
}

.row th,
.row td {
  padding: 0.25rem 1rem;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .hide {
    display: none;
  }
}
